// _dashboard.scss

#dashboard {
    display: grid;
    gap: 30px;

    &__bottom-section {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto;
        display: grid;
        gap: inherit;

        & .dashboard {
            &__nutrition-cards {
                grid-row: span 2;
            }

            &__chart-group {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: inherit;
            }
        }
    }

    &__top-section {
        & .dashboard {
            &__title {
                & span {
                    color: red;
                }
            }

            &__subtitle {
                font-size: 1.2rem;
            }
        }
    }
}