// _averagesessionschart.scss

@import "../utils/mixins";

.average-session-chart {
    @include chart(red);

    &__title {
        color: white;
    }

    &__tooltip {
        background-color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }
}