// _dailyactivitychart.scss

.daily-activity-chart {
    @include chart($rows: auto 250px);

    &__tooltip {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: red;
        padding: 15px;
        color: white;
    }
}